In [3]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from flask import request

In [14]:
stock = input("Enter the stock code: ") 
stockstdate = input("Enter the start date in the following format (YYYY-MM-DD): ") 
stockedate= input("Enter the end date in the following format (YYYY-MM-DD): ")

In [ ]:
#stock = request.args['stock']
#stockstdate = request.args['startdate'] 
#stockedate=request.args['enddate']

In [15]:
stockv = yf.Ticker(stock)
sdate = (stockstdate)
edate = (stockedate)

In [18]:
stockv

yfinance.Ticker object &lt;MSFT&gt;

In [19]:
data_df = yf.download(stock, start=sdate, end=edate)

[*********************100%***********************]  1 of 1 completed

In [20]:
data_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,158.779999,160.729996,158.330002,160.619995,159.352386,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,157.368179,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,157.774948,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,156.336395,21634100
2020-01-08,158.929993,160.800003,157.949997,160.089996,158.826569,27746500
...,...,...,...,...,...,...
2020-04-24,172.059998,174.559998,170.710007,174.550003,173.645462,34305300
2020-04-27,176.589996,176.899994,173.300003,174.050003,173.148056,33194400
2020-04-28,175.589996,175.669998,169.389999,169.809998,168.930023,34392700
2020-04-29,173.220001,177.679993,171.880005,177.429993,176.510529,51286600
2020-04-30,180.000000,180.399994,176.229996,179.210007,178.281311,53661300