In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from flask import request

In [2]:
stock = input("Enter the stock code: ") 
stockstdate = input("Enter the start date in the following format (YYYY-MM-DD): ") 
stockedate= input("Enter the end date in the following format (YYYY-MM-DD): ")

In [ ]:
from flask import Flask 
from flask import request 

@app.route('/Stock Select', methods=['POST', 'GET']) 
def Stock() 
	if request.method == 'POST': 
		stock = request.form['stock'] 
		stockstdate = request.form['startdate'] 
        stockedate = request.form['enddate']
		 
	else: 
	return print("Error")

In [ ]:
#stock = request.args['stock']
#stockstdate = request.args['startdate'] 
#stockedate=request.args['enddate']

In [3]:
import datetime
stocksdate2 = stocksdate.strftime('%Y-%m-%d')
stockedate2 = stockedate.strftime('%m-%d-%Y')

NameError: name 'stocksdate' is not defined

In [4]:
stockv = yf.Ticker(stock)
sdate = (stockstdate)
edate = (stockedate)

In [5]:
stockv

yfinance.Ticker object <MSFT>

In [10]:
data_df = yf.download(stock, start=sdate, end=edate)

[*********************100%***********************]  1 of 1 completed

In [11]:
data_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,158.779999,160.729996,158.330002,160.619995,159.352386,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,157.368179,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,157.774948,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,156.336395,21634100
2020-01-08,158.929993,160.800003,157.949997,160.089996,158.826569,27746500
2020-01-09,161.839996,162.220001,161.029999,162.089996,160.810776,21385000
2020-01-10,162.820007,163.220001,161.179993,161.339996,160.066711,20725900
2020-01-13,161.759995,163.309998,161.259995,163.279999,161.991394,21626500
2020-01-14,163.389999,163.600006,161.720001,162.130005,160.850479,23477400
2020-01-15,162.619995,163.940002,162.570007,163.179993,161.892197,21417900
2020-01-16,164.350006,166.240005,164.029999,166.169998,164.858597,23865400
2020-01-17,167.419998,167.470001,165.429993,167.100006,165.781265,34371700
2020-01-21,166.679993,168.190002,166.429993,166.500000,165.185989,29517200
2020-01-22,167.399994,167.490005,165.679993,165.699997,164.392303,24138800
2020-01-23,166.190002,166.800003,165.270004,166.720001,165.404251,19680800
2020-01-24,167.509995,167.529999,164.449997,165.039993,163.737518,24918100
2020-01-27,161.149994,163.380005,160.199997,162.279999,160.999283,32078100
2020-01-28,163.779999,165.759995,163.070007,165.460007,164.154221,24899900
2020-01-29,167.839996,168.750000,165.690002,168.039993,166.713821,34754500
2020-01-30,174.050003,174.050003,170.789993,172.779999,171.416428,51597500
2020-01-31,172.210007,172.399994,169.580002,170.229996,168.886551,36142700

In [12]:
#data_df.index = [x for x in range(1, len(data_df.values)+1)]
#data_df.index.name = 'id'
#data_df.index = data_df.index.map(str)

data_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,158.779999,160.729996,158.330002,160.619995,159.352386,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,157.368179,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,157.774948,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,156.336395,21634100
2020-01-08,158.929993,160.800003,157.949997,160.089996,158.826569,27746500
2020-01-09,161.839996,162.220001,161.029999,162.089996,160.810776,21385000
2020-01-10,162.820007,163.220001,161.179993,161.339996,160.066711,20725900
2020-01-13,161.759995,163.309998,161.259995,163.279999,161.991394,21626500
2020-01-14,163.389999,163.600006,161.720001,162.130005,160.850479,23477400
2020-01-15,162.619995,163.940002,162.570007,163.179993,161.892197,21417900
2020-01-16,164.350006,166.240005,164.029999,166.169998,164.858597,23865400
2020-01-17,167.419998,167.470001,165.429993,167.100006,165.781265,34371700
2020-01-21,166.679993,168.190002,166.429993,166.500000,165.185989,29517200
2020-01-22,167.399994,167.490005,165.679993,165.699997,164.392303,24138800
2020-01-23,166.190002,166.800003,165.270004,166.720001,165.404251,19680800
2020-01-24,167.509995,167.529999,164.449997,165.039993,163.737518,24918100
2020-01-27,161.149994,163.380005,160.199997,162.279999,160.999283,32078100
2020-01-28,163.779999,165.759995,163.070007,165.460007,164.154221,24899900
2020-01-29,167.839996,168.750000,165.690002,168.039993,166.713821,34754500
2020-01-30,174.050003,174.050003,170.789993,172.779999,171.416428,51597500
2020-01-31,172.210007,172.399994,169.580002,170.229996,168.886551,36142700

In [16]:
data_df.to_csv('../data/external/StockETL.csv', index = True)

In [ ]:
#import sqlalchemy

#from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
#from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
#from sqlalchemy import Column, Integer, String, Float 


#Base = declarative_base()
#engine = create_engine('sqlite:///Stock.db', echo=False)
#conn = engine.connect()

In [ ]:
#sqlite_table = "stocks"
#data_df.to_sql(sqlite_table, conn, if_exists='replace')
#engine.execute("SELECT * FROM stocks").fetchall()

In [ ]:
#connection.close()